<div class="container-fluid mt-5 about-style" id="aboutid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">About us</h1>
                <p1 class="text-center sub-heading">grow your business with us</p1>
                    <div class ="row">

                    <div class="col-md-6 col-12 hero-text">
                            <figure>
                                <img src="images/about.svg" alt="hero_image"
                            </figure>
                        </div>
                        <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-center flex-column">
                            <h1>We are the profeesional developer</h1>
                        
                            <p> Welcome to <span class="bold-dtyle">node Js</span>
                            We are building the static websites</p>
                            <button class="btn-style btn-primary">Read more</button>
                        </div>

                    </div>
            </div>
        </div>
    </div>